<footer class="bg-dark text-white mt-4  p-4 text-center" id="footerSection">
    <div class="bg-dark text-white list-group-item d-flex justify-content-between">
      
        <!-- <div class="col-md-6">
          <h5>About Us</h5>
          <p>Vehicles Stor was founded in 2024 in Djerba, Tunisia by Chammakhi Sedghiani, who saw an opportunity to create a better car-shopping experience using technology and data analytics. In just few months, CarGurus has become the most visited automotive shopping site in Tunisia, 
            with more car listings than any other major online automotive marketplace. </p>
        </div> -->
        <div class="col-md-6">
          <h5>Follow Us</h5>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class="mx-4">
              <a href="https://facebook.com" class="text-white" target="_blank">
                <i class="fab fa-facebook-f"></i> 
              </a>
            </li>
            <li class="mx-4">
              <a href="https://twitter.com" class="text-white" target="_blank">
                <i class="fab fa-twitter"></i> 
              </a>
            </li>
            <li class="mx-4">
              <a href="https://instagram.com" class="text-white" target="_blank">
                <i class="fab fa-instagram"></i> 
              </a>
            </li>
            <li class="mx-4">
              <a href="https://linkedin.com" class="text-white" target="_blank">
                <i class="fab fa-linkedin-in"></i> 
              </a>
            </li>
          </ul>
        </div>
     
      <hr>
      <p class="mb-0">&copy; 2024 Vehicles Stor. All rights reserved.</p>
    </div>
  </footer>