<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let vehicle of vehicles">
        <div class="card mb-4">
          <img class="card-img-top" [src]="vehicle.imageUrl" alt="{{ vehicle.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ vehicle.name }}</h5>
            <p class="card-text">{{ vehicle.model }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ vehicle.price }}</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<app-footer></app-footer>