<app-navbar></app-navbar>
<!-- src/app/about/about.component.html -->
<div class=" mt-5 pt-5 bg-light text-black">
    <div class="text-center">
      <h1>Vehicles Store</h1>
    </div>
    <div class="container text-center mt-4">
        <h3><p>
          Welcome to Vehicles Store! Our store offers a wide selection of new vehicles, catering to all your needs and preferences.
           We pride ourselves on providing exceptional customer service and competitive financing options. 
           Our hassle-free buying experience ensures you find the perfect vehicle without any stress. Visit us today and explore our extensive inventory. 
           If you have any questions, feel free to contact us. We are here to help you find the vehicle of your dreams.
        </p>
    </h3>
        <br>
      </div>
    <div class="image-stack mt-4">
        <div class="image-container mb-4">
          <img src="assets/About1.jpeg" class="img-fluid" alt="Image 1">
        </div>
        <div class="image-container mb-4">
          <img src="assets/About2.jpg" class="img-fluid" alt="Image 2">
        </div>
    </div>
    <br>
    
  </div>

  <app-footer></app-footer>
  