<app-navbar> </app-navbar>

<div class="container mt-5">
  <h2>User Management</h2>

  <div class="row">
  <div class="col-md-4">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchQuery">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filterUsers()">Search</button>
    </div>
  </div>
 </div>
</div>


<div class="row">
  <div class="col-md-12">
  <!-- User List -->
  <ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let user of filteredUsers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <div>Name: {{ user[0].name }}</div>
      <div>Email: {{ user[0].email }}</div>
      <div>Account created at: {{ user[0].createdAt }}</div>
      <button class="btn btn-sm btn-danger float-right" (click)="deleteUser(user.id)">Delete</button>
    </li>
  </ul>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
</div>

<app-footer></app-footer>