.text-center h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .image-stack .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-stack .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .container p {
    font-size: 1.2em;
    line-height: 1.5;
  }